{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Welcome to Etoile de Marius!</h1>
    <p>Checkout our products:</p>
    <div>
        <a href="/cloth">Cloths</a>
    </div>
    <div>
        <a href="/pants">Pants</a>
    </div>
    <div>
        <a href="/mask">Masks</a>
    </div>
{% endblock %}
